.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__title {
    color: var(--general);
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-size: 3rem;
    font-weight: lighter;
    transition: 0.2s all;
    cursor: default;
    margin-right: 0.5rem;
}

.header__title:hover{
    color: var(--naranja);
}

.btn__header{
    padding: 1rem 2.2rem;
    border: 3.5px solid var(--general);
    border-radius: 5px;
    transition: 0.4s all;
    font-size: 1.3rem;
    color: var(--general);
    text-align: center;
    text-transform: uppercase;
    transition: 0.4s all;
}

.btn__header:hover{
    border: 3.5px solid var(--naranja);
    color: var(--naranja);
}
