.skills {
    background-image: url(../img/wp_skills.svg);
    background-repeat: no-repeat;
    padding-bottom: 4rem;
}

.skill__title {
    padding-top: 2rem;
}

.skill__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 224, 224);
    padding: 1rem 2rem;
    margin: 1.8rem;
    border-radius: 10px;
    transition: 0.4s all;
}

.skill__box:hover {
    transform: scale(1.05);
}

.img__skills {
    width: 160px;
    height: 140px;
    transition: 0.4S all;
}


.desc__img-skill {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #2e2e2e;
}
