.experience {
    background: linear-gradient(rgb(88, 88, 88, 0.5), rgba(143, 77, 77, 0.4));
    background-repeat: none;
    padding-top: 1rem;
    padding-bottom: 8rem;
}

.italic__style{
    font-style: italic;
}

.experience__card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6rem;
    border-radius: 10px;
    background-color: #2e2e2e;
    padding: 3rem 2.5rem;
    box-shadow: 10px 10px 15px;
}

.exp__header{
    display: flex;
    align-items: baseline;
}

.exp__img-header{
    width: 50%;
}

.text__exp-container {
    margin: 0 2.2rem 0 2.2rem;
    width: 90%;
}

.exp__name {
    color: var(--naranja);
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: bold;
}

.exp__desc {
    color: var(--general);
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 2rem;
    text-align: justify;
}

.container__btn {
    display: flex;
    margin: 2rem 0 0 0;
    padding-bottom: 2.2rem;
}

.boton {
    background-color: var(--general);
    padding: 1rem 3rem;
    border: none;
    margin-right: 2rem;
    font-size: 1rem;
    color: var(--negro);
    transition: 0.4s all;
    cursor: pointer;
}

.btn__repositorio:hover {
    transform: scale(1.03);
}

.btn__demo {
    background-color: var(--naranja);
    color: var(--general);
}

.btn__demo:hover {
    transform: scale(1.03);

}


.img__exp {
    width: 55%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
}