.about {
    color: var(--text-gray);
    background-image: linear-gradient(rgb(43, 43, 43, 0.5), rgba(88, 88, 88, 0.5));
    padding-top: 1rem;
}

@media (max-width: 375px) {

    .about {
        padding-top: 2rem;
    }
}

.about__name {
    margin-top: 2rem;
    color: var(--text-gray);
    font-size: 1.8rem;
    text-align: justify;
}

@media (max-width: 375px) {
    .about__name {
        display: none;
    }
}

.about__desc {
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 1.8rem;
    text-align: justify;
}

@media (max-width: 375px) {
    .about__desc {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 0.92rem;
        text-align: justify;
    }
}

@media (max-width: 336px){
    .about__desc{
        font-size: 0.8rem;
    }
}

.about__firma {
    font-size: 7rem;
    color: var(--naranja);
    text-align: center;
    font-family: 'Zeyada', cursive;
}

@media (max-width: 375px) {
    .about__firma {
        font-size: 2rem;
    }
}

@media (max-width: 336px){
    .about__firma{
        font-size: 1.75rem;
    }
}