.about {
    background: var(--background-white);
    color: var(--black);

    padding-top: 1rem;
}

.about__desc {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 1.2;
    text-align: justify;
    color:  var(--black);
}

.about__firma {
    font-size: 2.5rem;
    color: var(--orange);
    padding-top: 1rem;
    text-align: center;
    font-family: 'Zeyada', cursive;
}