.author{
    display: flex;
    flex-direction: column;
    background-color: var(--background-white);
    background-repeat: no-repeat;
    padding: 0 0 1rem 0;
}

.info__author-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img__author {
    height: 130px;
    width: 130px;
    margin-top: 1.6rem;
    border-radius: 50%;
    box-shadow: 0px 5px 10px var(--black);
}

.tittle__author {
    padding-top: 1.6rem;
    text-align: center;
    font-weight: bold;
    color: var(--black);
    transition: 0.4s all;
    margin-bottom: 0.5rem;
}

.sub__tittle-author {
    color: var(--orange);
    text-align: center;
    cursor: default;
    font-weight: bold;
}

.author__description{
    padding-top: 2rem;
    font-size: 0.9rem;
    color: var(--black);
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icons__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
}

.icon__legend{
    color: var(--black);
    font-size: 0.6rem;
    font-weight: bold;
    cursor: default;
}

.svg__size__desc {
    padding-top: 0.8rem;
    width: 42px;
    height: 38px;
}