:root {
    --background-black: #181818;
    --background-white: #f1f1f100;
    --background-nd-black: #2e2e2e;
    --background-nd-white: #fffefb;

    --black: #464646;
    --skill-box: rgb(224, 224, 224);
    --white: #e6e6e6;
    --blue: #2A7AE4;
    --orange: #ff9500d0;
    --dark: #000000;
    --light: #FFFFFF;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background-color: var(--background-nd-white);
    font-family: 'Arimo', sans-serif;
}

.container {
    padding-right: 4%;
    padding-left: 4%;
}


.italic__style {
    font-style: italic;
}

.title{
    font-size: 1.6rem;
    color: var(--black);
}

.title__section{
    font-weight: bold;
}

.sub__tittle{
    font-size: 1.2rem;
    color: var(--black);
}

.text__link-blue {
    color: var(--blue);
}

.text__link-orange {
    color: var(--orange);
}

.svg__img {
    stroke: var(--black);
    width: 26px;
    stroke-width: 1.3;
}

.svg__orange{
    stroke: var(--orange);
}

.svg__white{
    stroke: var(--white);
}

.color__black{
    color: var(--black);
}

.color__white{
    color: var(--white);
}