:root{
    --general-background: #181818;
    --header-background: #2b2b2b;
    --negro: #2e2e2e;
    --general: #e6e6e6;
    --text-gray: #dacfcf;
    --text-link: #2A7AE4;
    --naranja: #FF9300;
    --negro: #000000;
}

html {   
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    }

body{
    background-color: var(--general-background);
    font-family: 'Raleway', sans-serif;
}
.container{
    padding-right: 4%;
    padding-left: 4%;
}

.title__style{
    font-size: 4rem;
    color: var(--general);
    cursor: default;
}

@media (max-width: 375px){
    .title__style{
        font-size: 1.6rem;
    }
}

@media (max-width: 336px){
    .title__style{
        font-size: 1.3rem;
    }
}

.link__text{
    color: var(--naranja);
}