.experience {
    background-repeat: none;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.experience__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: var(--black);
    padding: 2rem 2rem;
    box-shadow: 10px 10px 15px var(--dark);
}

.text__exp-container {
    display: flex;
    flex-direction: column;
    margin: 0 2.2rem 0 2.2rem;
    width: 110%;
}

.exp__name {
    color: var(--naranja);
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
    color: var(--orange);
}

.exp__desc {
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 1rem;
    text-align: center;
}

.container__btn {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 0 0;
    padding-bottom: 1rem;

}

.boton {
    background-color: var(--dark);
    padding: 0.6rem 1rem;
    border: none;
    font-size: 0.9rem;
    color: var(--white);
    transition: 0.4s all;
    cursor: pointer;
}

.btn__demo {
    background-color: var(--orange);
    color: var(--dark);
    padding: 0.6rem 1.35rem;
}

.img__exp {
    width: 100%;
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--dark);
}

@media (min-width: 768px) {
    .experience {
        margin-top: 1rem;
    }

    .title__exp{
        margin-bottom: 4rem;
    }

    .experience__card {
        flex-direction: row;
        margin-bottom: 5rem;
        padding: 3rem 3rem;
    }

    .exp__name{
        font-size: 2rem;
        text-align: justify;
        margin-bottom: 2rem;
    }

    .exp__desc{
        font-size: 1.2rem;
        padding-top: 0;
        margin-bottom: 2rem;
        text-align: justify;
        line-height: 2rem;
    }

    .container__btn{
        justify-content:flex-start;
        margin: 0.8rem 0 0 0;
    }

    .boton{
        font-size: 1.5rem;
        margin-right: 3rem;
    }

    .boton:hover{
        background-color: var(--white);
        color: var(--dark);
    }

    .img__exp{
        width: 50%;
    }
}