.footer{
    display: flex;
    flex-direction: column;
    background-image: url(../img/bg.jpg);
    padding: 3rem;
}

.footer__title{
    color: var(--orange);
    font-size: 0.75rem;
    margin: 4rem 0 2rem 0;
    text-align: center;
}

.icons__footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}