.header {
    /*background: linear-gradient(rgba(46, 46, 46, 1), rgba(46, 46, 46, 0.7));
    */
    background-color: var(--background-nd-black);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;

    position: sticky;
    position: -webkit-sticky;
    top: 0;

    z-index: 20;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.header__title {
    color: var(--orange);

    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;

    margin-right: 0.5rem;

    cursor: default;
    transition: 0.2s all;
}

.btn__header {
    border: 2px solid var(--orange);
    color: var(--orange);
    border-radius: 5px;

    font-size: 0.6rem;
    text-align: center;
    text-transform: uppercase;

    padding: 0.5rem 1rem;
}

@media (min-width: 768px){
    .header {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;    
    }

    .header__title{
        font-size: 2rem;
    }

    .btn__header{
        font-size: 1.5rem;
        border: 3.2px solid var(--orange);
    }
}