.header {
    /*background: linear-gradient(rgba(46, 46, 46, 1), rgba(46, 46, 46, 0.7));
    */
    background-color: var(--background-nd-white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.header__title {
    color: var(--orange);

    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-size: 1rem;
    font-weight: normal;

    margin-right: 0.5rem;

    cursor: default;
    transition: 0.2s all;
}

.btn__header {
    border: 2px solid var(--orange);
    color: var(--orange);
    border-radius: 5px;

    font-size: 0.6rem;
    text-align: center;
    text-transform: uppercase;

    padding: 0.5rem 1rem;
}