.skills {
    background-image: url(../img/wp_skills.svg);
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: var(--black);
}

.skill__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.skill__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 10px 10px #222222;
    background-color: var(--skill-box);
    padding: 0.6rem 1.2rem;
    margin: 0.5rem;
    border-radius: 10px;
}

.img__skills {
    width: 45px;
    height: 45px;
    transition: 0.4S all;
}

.desc__img-skill {
    margin-top: 1rem;
    font-size: 0.6rem;
}